<!DOCTYPE html>
<html>
<head>
  <title>SimpleFormCreator</title>
  <%= stylesheet_link_tag    "simple_form_creator/application", media: "all" %>
  <%= javascript_include_tag "simple_form_creator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
